<% content_for :body_class do %>
  covered-background
<% end %>

<div class="logo-container">
  <%= link_to root_path do %>
    <%= image_tag "hamiltowned.png", class: "logo" %>
  </div>
<% end %>

<div class="wrapper">
  <div class="wrapper-with-border">
    <div class="content-container">
      <p>Send your friends a fake Hamilton lottery winner email. They'll receive an email around 4:15pm EST -- a few minutes before the real lottery emails go out.</p>
      <% if in_lottery_sign_up_period? %>
        <%= render 'form', message: @message %>
      <% else %>
        <div>
          Just like the real Hamilton lottery, this one is open from 9am to 4pm EST. Come back again tomorrow!
        </div>
      <% end %>
    <div class="attribution">
      Made by <a href="https://www.twitter.com/scottluptowski">Scott Luptowski</a>.
    </div>
    </div>
  </div>
</div>
