<% content_for :body_class do %>
  covered-background
<% end %>

<div class="logo-container">
  <%= link_to root_path do %>
    <%= image_tag "hamiltowned.png", class: "logo" %>
  </div>
<% end %>

<div class="wrapper">
  <div class="wrapper-with-border">
    <div class="content-container">
      <p>Thanks for your submission</p>
      <p><%= @message.recipient_first_name %> will receive an email today around 4:15pm EST.</p>
      <div class="attribution">
        Made by <a href="https://www.twitter.com/scottluptowski">Scott Luptowski</a>.
      </div>
    </div>
  </div>
</div>