<table width="100%" bgcolor="#e7e7e7" cellpadding="30" cellspacing="0" border="0" align="center" style="table-layout:fixed;margin:0px auto">
  <tbody>
      <tr>
          <td>
              <table width="450" cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0px auto">
                  <tbody>
                      <tr>
                          <td align="center">
                              <h1 style="margin-bottom:0;padding-bottom:0">
                                  <img src="https://ci6.googleusercontent.com/proxy/jj5xmJKRFtd3kNadEtCth3W9Wxs_7apBy18t2YAt4Sq0_nuprjleOafTKsPnKGqYrklDSzAfqdpk4wL-mvtloAHRXX8nX-cLUcZkEPSPHfqzmQ4j83ZwJYmhQ4OL5PNVhpFE8k9WGLFSPr5gd7yxkG9w=s0-d-e1-ft#https://lottery.broadwaydirect.com/wp-content/uploads/2015/10/broadway-direct-email-logo.png" alt="Broadway Direct Lottery" border="0" class="CToWUd">
                              </h1>
                          </td>
                      </tr>
                  </tbody>
              </table>

                        
              <table bgcolor="#ffffff" width="450" align="center" cellspacing="0" cellpadding="25" border="0" style="margin:0px auto">
                <tbody>
                  <tr>
                    <td style="font-family:Helvetica,arial,sans-serif;font-size:13px;color:#666666;text-align:left;line-height:18px">
                      <p>
                        <img width="400" height="116" src="https://ci6.googleusercontent.com/proxy/aWfxCoTEUSBgXUq0RznZEosfXhFKVnJ2-uP8A26MJZekLiyG6sVhhZjJry6tup8urUgWfxduyDemEX20c1RJsM_ndc9aod66bowgwYu_z5KXk85HCKT67bUyNcNa3HqxWoiO4-1g6ovW=s0-d-e1-ft#https://lottery.broadwaydirect.com/wp-content/uploads/2015/12/Hamilton-400x116.jpeg" alt="Hamilton 400x116" class="CToWUd">
                      </p>
                      <p>
                        <img src="https://ci4.googleusercontent.com/proxy/lV9KgzuA_-Tqnz5LE4Kye4_FuvMUpX5rhTCOu5S9O5876_QuS1YMEw-R9xFBKmWkeMnY25LPi8093JQeU2t76tPeQPLJsZRZQMmTxs6En39FQ7z30T8TDa0qukRkYXRdFsb5Xg=s0-d-e1-ft#https://lottery.broadwaydirect.com/wp-content/uploads/2015/10/lottery-logo.png" alt="Lottery" width="125" height="38" class="CToWUd">
                      </p>
                      <p>Dear <%= @recipient %>-</p>
                      <p>Congratulations! You have been selected as a winner of the Official Digital Lottery.</p>
                      <p>Here are the details:</p>
                      <p><span style="font-weight: bold">HAMILTON</span></p>
                      <p>
                        <%= link_to @formatted_date, crying_jordan_url(@message), style: "color:#6291F6", target: "_blank" %>
                      </p>
                      <p>2 ticket(s) at $10 per ticket</p>
                      <p>
                      <span style="color:#E51613;font-weight:bold">Balance due: $20.00</p>
                      <p>
                        Here's what happens next:</br>
                        <br>
                        You have 60 minutes to pay for your tickets online. Major credit cards are accepted. <span style="font-weight:bold">If you do not pay for your tickets within 60 minutes, they will be released.</span>
                        </br></br>
                        Click below to pay for your tickets:
                        <%= link_to crying_jordan_url(@message), style: "color: white; text-decoration:none; display:block", target: '_blank' do %>
                          <div style="background-color:#1664C6;color:white;text-align:center;cursor:pointer;padding:12px;font-size:14px;text-transform:uppercase">
                          Click to pay now
                          </div>
                        <% end %>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>